@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

html body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

/*-----------Page heading-------------------*/

h3 {
  color: #51808b;
  padding-top: 15px
}

/*-----------Home image------------------*/

.home-image {
  height: 600px;
  width: 100%;
}

.image-mob-view {
  display: none;
}

.home-padding {
  margin-top: 30px;
  justify-content: center;
}

.home-text {
  position: absolute;
  right: 30px;
  bottom: 400px;

}

.jumbotron {
  height: 339px;
}

.headline-mob-view {
  display: none;
}

.container-jumbotron {
  position: absolute;
  top: 400px;
}

.margin-bottom {
  margin-bottom: 110px
}

@media only screen and (max-width : 1024px) {

  .tablet-view {
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .home-image {
    height: 400px;
    display: none;
  }

  .image-mob-view {
    display: unset;
    width: 100%
  }

  .headline-mob-view {
    display: unset;
  }

  .mob-view-row {
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 5px;
  }

  .margin-bottom {
    margin-bottom: 200px
  }

}

.display-4::before {
  content: '';
  animation: animate infinite 8s;

}

@keyframes animate {
  0% {
    content: 'Hello';
  }

  20% {
    content: 'Hola';
  }

  40% {
    content: 'Hallo';
  }

  60% {
    content: 'Bonjour';
  }

  80% {
    content: 'Ni Hao';
  }

  100% {
    content: 'Privet';
  }

}


/*-----------Links -------------------*/
a {
  color: #51808B
}

a:hover {
  text-decoration: none;
  color: black;
  border-color: none;
}


/*-----------Navbar-------------------*/

.navbar-nav {
  color: #51808b;
  font-size: 26px;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  color: #51808b;
}

.navbar-light .navbar-nav .nav-link {
  color: #51808b;
}

.nav-border {
  margin: 0 50px 0 50px;
  border-bottom: double;
  padding-top: 10px;
}

/*-----------Carousel-------------------*/

.container-custom {
  margin-top: 10px;
  height: 100vh;
}

.carousel-item {
  background-position: center;
  background-size: cover;
  height: 32em;
}

.carousel-caption {
  background-color: #51808B
}

.carousel-item {
  padding: 10px;
  border: 1px solid #E8E8E8
}

.w-100 {
  height: 99%
}

.text-upper {
  text-transform: uppercase;
}

/*-----------Buttons-------------------*/

.btn-primary {
  background-color: #fff;
  margin-top: 20px;
  color: #51808B;
  border: 1px solid #E8E8E8
}

.add-btn {
  justify-content: center
}

.btn-primary:hover {
  background-color: #51808B
}

.edit_span {
  position: absolute;
  bottom: 50px;
}

.row-margin {
  margin-bottom: 10px;
}

.button-disabled {
  background: rgba(0, 0, 0, .07);
  pointer-events: none;
}

/*-----------Forms-------------------*/

.input-field {
  width: 40%
}

/*-----------Card-------------------*/
.card-img,
.card-img-top {
  height: 300px;
  width: 100%;
  overflow: hidden;
  padding: 5px;
}

.new-badge {
  position: absolute;
  top: 10px;
  right: 10 px !important;
  background: #51808b;
  color: #fff;
}

/*-----------Show recipe-------------------*/

.container-margin {
  margin-bottom: 50px;
}

.recipe-img {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.img-div {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
  border: 1px solid #E8E8E8;
}

.text-center {
  justify-content: center;
}

.border-black {
  border-bottom: 2px solid rgb(19, 19, 19);
}

.show-recipe-background {
  background: rgba(0, 0, 0, .07);
  font-size: 12px;
  padding-top: 20px;
}

#br-on-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .border-black {
    margin: 0 5px 0 5px;
  }

  #br-on-mobile {
    display: flex
  }
}

/*-----------Footer-------------------*/

.footer-border {
  border-top: double;
  padding-top: 10px;
  margin-top: 10px;
}

.no-whitespace {
  white-space: nowrap;
}

.no-style {
  list-style: none;
}

.align-button {
  margin-bottom: 11px;
}

.footer-p {
  padding-left: 30px;
  margin-bottom: 0px;
}

.social {
  font-size: 2em;
}

.circle-border {
  border: 1px solid#51808B;
  border-radius: 50%;
  width: 50px;
  margin: 0 10px 0 10px;

}

.link-footer {
  color: black;

}

.link-footer:hover {
  color: #51808b
}

.ftr-btn {
  margin-top: 10px;
}

.row-height {
  height: 20px;
}

.flash-padding {
  padding-left: 40px
}

@media only screen and (max-width: 600px) {
  .ftr-btn {
    margin-top: 10px;
  }

  .ftr-padding {
    margin-left: 0px;
    padding-left: 25px;
  }

  .footer-p {
    padding-left: 40px
  }

  .ftr-padding-left {
    padding-left: 0px
  }

}

/*-----------Search results-------------------*/

.no-result {
  padding-left: 20px
}

/*-----------Errors-------------------*/

@media only screen and (max-width: 600px) {
  .img-results {
    width: 100%;
    height: 300px
  }
}