@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

html body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*-----------Page heading-------------------*/

h3 {
    font-family: 'Pacifico', cursive;
    color: #51808b;
    padding-top: 15px
}

/*-----------Links -------------------*/
a {
    color: #51808B
}

a:hover{
    text-decoration: none;
    color: #fff;
    border-color: none;
}


/*-----------Navbar-------------------*/
.bg-light{
    background-color: #F7ACA8!important;
}

.navbar-nav{
    color: #51808b;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
}

.navbar-light .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #51808b;
}

.navbar-light .navbar-nav .nav-link {
    color: #51808b;
}
/*-----------Carousel-------------------*/

.container-custom{
    margin-top: 10px;
}

.carousel-item {
    background-position: center;
    background-size: cover;
    height: 32em;

}
/*-----------Buttons-------------------*/

.btn-primary{
    background-color: #F7ACA8;
    margin-top: 20px;
    color: #51808B;
    border-color: #fff;
}

.add-btn{
    justify-content: center
}

.btn-primary:hover{
    background-color: #51808B
}

/*-----------Forms-------------------*/

.input-field {
    width: 40%
}

/*-----------Card-------------------*/
.card-img, .card-img-top {
    height:300px;
    width:100%;
    overflow: hidden;
    padding: 5px;
}

/*-----------Show recipe-------------------*/

.recipe-img{
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;

}