{% extends 'base.html' %} {% block content %}

<div class="text-center search-margin">
  <h3>Error 404</h3>
  <p>Page not found. This is rather embarassing...</p>
</div>
<div class="container">
  <div class="row">
    <div class="col">
    <a href="{{url_for('get_recipes')}}">
      <button id="fave-btn" class="btn btn-primary btn-lg btn-block">
         Back to Recipes
      </button>
    </a>
    </div>
    <div class="col">
     <a href="{{url_for('home')}}">
      <button id="fave-btn" class="btn btn-primary btn-lg btn-block">
        Back to Home
      </button>
    </a>
    </div>
  </div>
</div>
<div class="container center-image container-custom">
  <img src="static/img/404.png" class="img-results" />
</div>

{% endblock %}
