{% extends 'base.html' %} {% block content %}

<div class="text-center search-margin">
  <h3>Error 500</h3>
  <p>Ooops..Something went wrong.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <button id="fave-btn" class="btn btn-primary btn-lg btn-block">
        <a href="{{url_for('get_recipes')}}"> Back to Recipes</a>
      </button>
    </div>
    <div class="col">
      <button id="fave-btn" class="btn btn-primary btn-lg btn-block">
        <a href="{{url_for('home')}}"> Back to Home</a>
      </button>
    </div>
  </div>
</div>
<div class="container center-image container-custom">
  <img src="static/img/500.png" class="img-results" />
</div>

{% endblock %}
