{% extends 'base.html' %} {% block content %}
<h3 class="text-center">Add Recipe</h3>
<form method="POST" action="{{url_for('insert_recipe')}}">
  <div class="container">
    <div class="form-group">
      <label for="recipe">Recipe Name</label>
      <input
        type="text"
        class="form-control"
        id="recipe_name"
        name="recipe_name"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Category</label>
      <select class="form-control" id="category" name="category_name">
        {% for category in categories %}
        <option value="{{category.category_name}}"
          >{{category.category_name}}</option
        >
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Short Description</label>
      <textarea
        class="form-control"
        id="recipe_description"
        rows="2"
        name="recipe_description"
        maxlength="150"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Ingredients</label>
      <textarea
        class="form-control"
        id="ingredients"
        rows="3"
        name="ingredients"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Methods</label>
      <textarea class="form-control" id="methods" rows="5" name="methods">
      </textarea>
    </div>
    <div class="form-group">
      <label for="recipe">Prep time</label>
      <input type="text" class="form-control" id="prep_time" name="prep_time" />
    </div>
    <div class="form-group">
      <label for="recipe">Cooking time</label>
      <input
        type="text"
        class="form-control"
        id="cooking_time"
        name="cooking_time"
      />
    </div>
  <div class="form-group">
      <label for="url_image">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="url_image"
        name="url_image"
      />
    </div>
  </div>
  <div class="container">
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Submit Recipe
    </button>
  </div>
</form>
{% endblock %}
