{% extends 'base.html' %} {% block content %}

<div class="container container-custom">
  <div id="" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    {% for recipe in recipes %}
      <div class="carousel-item {% if forloop.counter ==1 %} active {% endif %}" id="slide{{forloop.counter}}">
        <img src="{{recipe.url_image}}"  alt="..." />
        </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row add-btn">
      <button type="button" class="btn btn-primary btn-lg">
        <a href="{{url_for('add_recipe')}}">Add recipes</a>
      </button>
    </div>
</div>
{% endblock %}
