{% extends 'base.html' %} {% block content %}

<div class="container-fluid margin-bottom">
  <div class="row home-padding">
    <img class="home-image" src="static/img/heroimage.webp" alt="Food Panorama" />
    <img class="image-mob-view" src="static/img/mobileview.webp" alt="Hero Image" />
  </div>
</div>
<div class="container container-jumbotron">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="jumbotron">
        <div class="display-4"></div>
        <p class="lead">Share your delicious adventure with us.</p>
        <hr class="my-4" />
        <p>Start sharing your tasty recipes.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{url_for('add_recipe')}}" role="button">Add Recipe</a>
        </p>
      </div>
    </div>
  </div>
</div>
  <div class="container">
  <h3 class="text-center">Recently Added</h3>
    <div class="row row-cols-1 row-cols-md-3">
      {% for recipe in recipes %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{{url_for('show_recipe', recipe_id = recipe._id)}}"><img src="{{recipe.url_image}}" class="card-img-top" alt="{{recipe.recipe_name}}" /></a>
          <div class="card-body">
            <h5 class="card-title">{{recipe.recipe_name}}</h5>
            <p class="card-text">{{recipe.recipe_description}}</p>
          </div>
          <a href="{{url_for('show_recipe', recipe_id = recipe._id)}}">
            <div class="card-footer text-center">
              View recipe
            </div>
          </a>
        </div>
      </div>
        {% endfor %}
    </div> 
  </div>
  <div class="container">
  <h3 class="text-center">Most Viewed</h3>
    <div class="row row-cols-1 row-cols-md-3">
      {% for recipe in views %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{{url_for('show_recipe', recipe_id = recipe._id)}}"><img src="{{recipe.url_image}}" class="card-img-top" alt="{{recipe.recipe_name}}" /></a>
          <div class="card-body">
            <h5 class="card-title">{{recipe.recipe_name}}</h5>
            <p class="card-text">{{recipe.recipe_description}}</p>
          </div>
          <a href="{{url_for('show_recipe', recipe_id = recipe._id)}}">
            <div class="card-footer text-center">
              View recipe
            </div>
          </a>
        </div>
      </div>
        {% endfor %}
    </div> 
  </div>
{% endblock %}