{% extends 'base.html' %} {% block content %}

<div class="container-fluid margin-bottom">
  <div class="row home-padding">
    <img class="home-image" src="static/img/heroimage.png" alt="Food Panorama" />
    <img class="image-mob-view" src="static/img/mobileview.png" alt="Hero Image" />
  </div>
</div>

<div class="container container-jumbotron">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="jumbotron tablet-view">
        <h1 class="display-4"></h1>
        <p class="lead">Share your delicious adventure with us.</p>
        <hr class="my-4" />
        <p>Start sharing your tasty recipes.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{url_for('add_recipe')}}" role="button">Add Recipe</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}