{% extends 'base.html' %} {% block content %}

<body>
	<div class="container">
    {% for recipe in recipes %}
		<div class="card-deck">
			<div class="card">
				<img src="{{url_for('static',filename ='img/sample.jpg')}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{recipe.recipe_name}}</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
						additional content. This content is a little bit longer.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
			</div>
		</div>
    {% endfor %}
	</div>
</body>

{% endblock %}