{% extends 'base.html' %} {% block content %}
<!---Recipe page where all available recipes are found-->

<body>
  <h3 class="text-center">Recipes</h3>
  <div class="container">
    <div class="row row-margin">
      <div class="col">
        <!---Search Button--->
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('recipes') }}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="query" name="query" />
          <button class="btn my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      {% if recipes.count() %} {% for recipe in recipes %}
      <!---For loop used to display recipe from database --->
      <div class="col mb-4">
        <div class="card h-100">
          <a class='recipe-link' href="{{url_for('show_recipe', recipe_id = recipe._id)}}">
            <img src="{{recipe.url_image}}" class="card-img-top" alt="{{recipe.recipe_name}}" />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{recipe.recipe_name}}</h5>
            <p class="card-text">{{recipe.recipe_description}}</p>
            <span class="edit_span text-center">
              {% if recipe.added_on %}
              <small class="text-muted">Added on: {{recipe.added_on}}</small>
              {% else %}
              <small class="text-muted">Last Updated: {{recipe.last_update}}</small>
              {% endif %}
            </span>
          </div>
          <a href="{{url_for('show_recipe', recipe_id = recipe._id)}}">
            <div class="card-footer text-center">
              View recipe
            </div>
          </a>
        </div>
      </div>
      {% endfor %} {% else %}
      <p class="no-result">No recipes found. Please try again.</p>
      {% endif %}
    </div>
  </div>
</body>

{% endblock %}