{% extends 'base.html' %} {% block content %}

<h3 class="text-center">{{recipe.recipe_name}}</h3>
<form method="POST" action="">
	<div class="container">
		<img src="{{recipe.url_image}}" alt="Recipe Image" class="recipe-img">
			<div class="form-group">
				<label for="exampleFormControlSelect1">Category</label>
            <h4>{{recipe.category_name}}<h4>
			</div>
			<div class="form-group">
				<label for="recipe_description">Description</label>
				
            <p>{{recipe.recipe_description}}</p>
			</div>
			<div class="form-group">
				<label for="ingredients">Ingredients</label>
				<div>
					<ul>
						{% for ingredients in recipe.ingredients.splitlines()%}
						<li>
							<p>{{ingredients}}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="form-group">
				<label for="ingredients">Methods</label>
				{% for methods in recipe.methods.splitlines() %}
				<p><i class="fas fa-check"></i> {{methods}}</p>
				{% endfor %}
			</div>
			<div class="form-group">
				<label for="prep_time">Prep time:</label>
                <p>{{recipe.prep_time}}</p>
       
    </div>
				<div class="form-group">
					<label for="cooking_time">Cooking time: </label>
					<p>{{recipe.cooking_time}}</p>
    </div>
					<div class="container">
						<button type="submit" id="fave-btn" class="btn btn-primary btn-lg btn-block">
      Add to Favourites
    </button>
					</div>
</form>
{% endblock %}

